@use "src/shared/ui/styles/utils/mixins" as *;

.chatModal {
  @include media(mobile) {
    width: 100vw !important;
    height: 100% !important;
    left: 0 !important;
    right: 0 !important;
    inset: 0 !important;
    z-index: 10000 !important;
  }

  :global {
    .ant-popover-arrow {
      bottom: 25px !important;

      @include media(mobile) {
        display: none !important;
      }

      &::before {
        background-color: #3C7FF6 !important;
      }
    }

    .ant-popover-content {
      @include media(mobile) {
        height: 100% !important;
      }
    }

    .ant-popover-inner {
      border-radius: 25px !important;

      @include media(mobile) {
        height: 100% !important;
        border-radius: 0 !important;
      }
    }

    .ant-popover-inner-content {
      @include media(mobile) {
        height: 100% !important;
      }
    }
  }
}
