@use "src/shared/ui/styles/utils/mixins" as *;

.segmented:global(.ant-segmented) {
  background-color: var(--ant-color-primary-border);
  width: auto;

  @include media(notMobile) {
    position: absolute;
    z-index: 2;
    top: 99px;
    right: 10px;
  }
}
